#navbar{
   border-style: solid;
   border-color: black;
   border-width: 3px; 
   background-color: lightblue;
}
#navbar a{
     color:white;
     text-decoration: none;
     padding:15px;
}
#card{
    border-style: solid;
   border-color: black;
   border-width: 2px; 
   width:350px;
   text-align: center;
}
#card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
